<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="style/style.css">
    <title>Resultaat</title>
</head>
<body>
    <div class="random_circle"></div>
    <div class="container results_page">
        <header>
            <img src="../images/akologo.png" alt="Ako_logo" class="logo"/>
        </header>
        <div class="content">
            <% var i = 0 %>
            <% for (var book in results) { %>
                <% if (i < 3) { %>
                <div class="results">
                    <img class="book_result" src="<%= results[book].kaft_image %>" alt="book cover" />
                    <div class="rating">
                        <img class="star_rating" src="../images/star.png" alt="star rating" />
                        <img class="star_rating" src="../images/star.png" alt="star rating" />
                        <img class="star_rating" src="../images/star.png" alt="star rating" />
                        <img class="star_rating" src="../images/star.png" alt="star rating" />
                        <img class="star_rating disabled" src="../images/star.png" alt="star rating" />
                        <p class="rating_amount"><%= results[book].Reviews %></p>
                    </div>
                    <p class="book_result_author"><%= results[book].Naam %> - <span><%= results[book].Schrijver %></span></p>
                    <p class="book_result_pages"><%= results[book].Bladzijdes %> blz.</p>
                    <p class="book_result_description"><%= results[book].Plot %></p>
                </div>
                <% i++ %>
                <% } %>
            <% } %>
            <div class="qr_section">
                <p>Geen tijd? Scan de QR code zodat je deze niet vergeet!</p>
                <img class="qrcode" src="../images/qr.png" alt="QR code" />
            </div>

        </div>
        <div class="again">
            <img src="../images/hand_zwaai.png" alt="hand zwaai" />
            <div class="line"></div>
            <p>Swipe naar rechts om opnieuw te beginnen</p>
        </div>
     
    </div>
</body>
</html>